.introduce{
    padding-left: 90px;
    margin-top: 30px;
    background-color: #f4f4f4;
    border-top: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
    width: 100%;
    color: #989898;
    line-height: 26px;
    padding-bottom: 25px;
    .in-title{
        color: #FF7E00;
        line-height: 33px;
        text-align: center;
        margin-top: 10px;
        margin-left: -90px;
    }
    p{
        margin-left: 55px;
    }
}
/deep/.el-step__title.is-success,
/deep/.el-step__title.is-process,
/deep/.el-step__icon-inner.is-status{
    color: @darkorangeColor;
}
/deep/.el-step__head.is-process,
/deep/.el-step__head.is-success{
    color: @darkorangeColor;
    border-color: @darkorangeColor;
}
.site{
    padding: 50px 114px 5px 114px;
    background: #FFF;
    /deep/.el-form-item{
        margin-bottom: 20px;
    }
}

/deep/.el-form-item__label{
  color: #5a5a5a;
  font-size: 22px;
  width: 13%!important;
  margin-right: 10px;
}
/deep/.el-form-item__content{
  width: 40%;
  height: 36px;
  display: inline-block;
  margin-left: 0!important;
}
/deep/.el-col.el-col-11 .el-form-item__content{
  width: 100%;
}
/deep/.line{
  text-align: center;
}
/deep/.el-checkbox{
  height: 88px;
  width: 238px;
  background: #f4f4f4;
  padding: 10px 15px 8px 15px;
}
/deep/.el-checkbox__label{
  font-size: 18px;
  color: #ff7e00!important;
  position: relative;
  float: left;
  margin-right: 8px;
  width: 100%;
  line-height: 26px;
  margin-top: -12px;
}
/deep/.el-form-item:nth-child(6){
  margin-bottom: 0;
}
/deep/.el-form-item:nth-child(6) .el-form-item__content{
  width: 888px;
}
/deep/.el-form-item:nth-child(6) .el-form-item__error{
  position: absolute;
  top: 46px;
  left: 138px;
}
/deep/.el-form-item:nth-child(6) .el-checkbox-group{
  overflow: hidden;
  margin-left: 130px;
  margin-top: -39px;
  .el-checkbox{
    margin-left: 8px;
    p{
      color: #808080;
      margin-top: 3px;
      float: left;
      width: 100%;
      font-size: 12px;
      line-height: 20px;
      white-space: normal;
    }
  }
}
/deep/.el-form-item span{
  float: right!important;
}
/deep/.el-form-item:last-child{
  text-align: center;
  button{
    text-align: center;
    height: 100%;
    width: 100%;
    background: #FF7E00;
    border: none;
    font-size: 22px;
    margin-top: 15px;
    span{
      float: inherit!important;
      color: #fff;
    }
  }
}
.el-select-dropdown__item{
  float: inherit!important;
  padding-left: 10px;
}